name: Build and Deploy Horilla to Azure App Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: horillacr.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t horillacr.azurecr.io/horilla:latest .
        docker push horillacr.azurecr.io/horilla:latest

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        client-id: 'ac377093-8bcb-4acb-907e-9187092f8a95'
        tenant-id: '6ce00586-49c5-4f4f-b1d4-595f9c9081e3'
        subscription-id: '18076092-3a88-433d-a689-e4e143180d8a'

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'horilla-app'
        images: 'horillacr.azurecr.io/horilla:latest'
